development:
  ldap:
    host: 127.0.0.1
  dictionary: /dev/null

  required_password_entropy: 18.5

test:
  ldap:
    host: 127.0.0.1
  dictionary: /dev/null
  required_password_entropy: 18.5

production:
  ldap:
    host: ldap.example.com
    port: 636
    encryption: :simple_tls
  dictionary: /etc/dictionaries-common/words
  required_password_entropy: 18.5
